doctype html 
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.css")
        title Capybara Slider
    body 
        .container 
            
            h1 CAPYBARA SLIDER 
            .slider 
                .slider-line
                    img(class="firstphoto" src="./img/57baab9b1e06a4e03ed7e59549004bde.jpg", alt="smiling cappybara", srcset="")
                    img(src="./img/Blog-Capybara-Pantanal-Brazil3.jpg", alt="chilling cappybara", srcset="")
                    img(src="./img/cfcf4fd71d0034ea00d2ea6ec27b936d.jpg", alt="cappybara with orange", srcset="")
                    img(src="./img/extra-large-Capybara-photo.jpg", alt="side photo of cappybara", srcset="")
                    img(src="./img/tacobara-funny-capybara-tacos-eq-designs-transparent.png", alt="cappybara in tacos", srcset="")
            button.slider-next NEXT 

    script(src="./script.js") 