body {
    background: rgb(255, 255, 255);
}

.container {
    width: 1000px;
    /* height: fit-content; */
    margin: auto;
    background: whitesmoke;
}

h1 {
    color: brown;
    text-align: center;
}

.slider {
    border: 4px solid black;
    height: 200px;
    width: 355px;
    margin: auto;

    justify-content: space-between;

}

.slider-line {
    height: 200px;
    width: 1775px;
    background: rgba(230, 193, 179, 0.9);
    display: flex;
    position: relative;

}


img {
    max-height: 100%;
    max-width: 100%;

    object-fit: cover;
}

.slider img:first-child {
    margin: 0px 72.5px 0px 72.5px;
}

.slider img:nth-child(2) {
    margin: 0px 27.5px 0px 28.5px;
}

.slider img:nth-child(4) {
    margin: 0px 10px 0px 15px;
}

.slider img:nth-child(5) {
    margin: 0px 0px 0px 36px;
}